.dropdown:hover .dropdown-menu {display: block;}

     .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu
     {margin-top: 0;}   

.aa {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bb {
    float: left;
    display: inline-block;
    color: white;
    padding: 16px;
    text-decoration: none;
}