.announce-inner-contents { background-color: gainsboro; }

.announce-text {
    font-family: "Arial", "Lucida", "Trebuchet MS", "Luxi Sans", "Helvetica", sans-serif;
    font-size: 14px;
    word-wrap: break-word;
    padding: 10px;
    background-color: aliceblue
}

#search-bar { padding: 27px; }

#search-paragraph {
    padding: 5px;
    margin: 0

}

#option-form {
    margin: 0px;

}

.announce-page {
    
}

#news-item-box { padding: 10px; }

.announce-title {
    font-size: 19px;
    color: #333;
    letter-spacing: -0.5px;
    line-height: 1.25;
    font-weight: bold;
    display: block;
    text-decoration: underline;
}

#title-wrapper {
    background-color: aliceblue;
    padding: 10px;    
}

#ftr { position: relative }

.wrapper-box { border: thin; }

.announce-author {
    font-size: 12px;
    font-family: Consolas;
    font-weight: 800;
    padding-left: 10px;
}

.announce-date {
    font-family: Consolas;
    font-size: 12px;
    font-weight: 800;
    padding-left: 10px;
}