<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootswatch/superhero/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@using Microsoft.AspNetCore.Identity
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-action="Index" class="navbar-brand" asp-controller="Home">Dungeon Master</a>
            </div>

            <div class="container-fluid">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search events...">
                    </div>
                </form>

            @if (User.Identity.IsAuthenticated)
            {
            <div class="nav navbar-nav navbar-left">
                <a class="form-control btn-default" asp-action="New" asp-controller="Tournaments">Manage Tournaments</a>
            </div>
            }

            <div class="container navbar-form">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Hello, " + User.Identity.Name + "!", "Manage", "Auth")</li>
                        <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Auth" asp-action="Login">Login</a></li>
                        <li><a asp-controller="Auth" asp-action="Register" class="btn-primary">Register</a></li>
                    }

                </ul>
            </div>

        </div>
        </div>
    </nav>

    <div class="container body-content" style="padding-top:100px;">
        @RenderBody()
    </div>

    <hr />

    <footer>
        <div class="container">
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-24 col-sm-8 col-md-7">
                        <div>
                            &copy; 2017 Dungeon Master
                        </div>
                    </div>
                    <div class="col-xs-24 col-sm-5 col-md-4">
                        <a href="http://facebook.com/6553A" target="_blank">Find me on Facebook</a>
                        <br />
                        <a href="https://plus.google.com/112305330834966228998" target="_blank">Check out my G+</a>
                        <br />
                        <a href="http://github.com/mihaiMititelu" target="_blank">Fork me on Github</a>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js">
    </script>
    @RenderSection("scripts", false)
</body>

</html>