<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/freelancer.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body style="background-color: whitesmoke">

<div class="container body-content">
    @RenderBody()
    <hr/>

</div>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js">
</script>
</body>

</html>