@{ 
    ViewBag.Title = "Your Competitions";
}
aici o sa fie o pagina cu turneele mele
@section Scripts{ 
<script src="~/lib/angular/angular.min.js"></script>
}
<div ng-app ng-init="qty=1;cost=2">
    <b>Invoice:</b>
    <div>
        Quantity: <input type="number" min="0" ng-model="qty">
    </div>
    <div>
        Costs: <input type="number" min="0" ng-model="cost">
    </div>
    <div>
        <b>Total:</b> {{qty * cost | currency}}
    </div>
</div>