@{
    ViewData["Title"] = "Pagina Principală";
}
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <span>
            <a asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
        </span>
    }
    else
    {
        <span>
            <a asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
        </span>
        <span>
            <a asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
        </span>
    }


</div>