@{
    ViewData["Title"] = "Orar";
}
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/css/mystyle.css" />

</head>
<body>
    <div class="container">
        <h2>
            <span class="label label-primary">Alege materiile pe care vrei sa le adaugi in orarul tau</span>
        </h2>
        <table>
            <tr>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="menu" data-toggle="dropdown">Alege Orar</button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            @{
                                var orar = ViewData["orar"] as List<string>;
                                if (orar.Count != 1)
                                {
                                    foreach (var item in orar)
                                    {
                                        string[] row = item.Split('|');
                                        string link = "/WebParser/ParserPage?url=http://profs.info.uaic.ro/~orar/" + row[0];
                                        if (!row[1].Contains("eOra"))
                                        {
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href=@link>@row[1]</a></li>
                                        }
                                    }
                                }
                                else
                                {
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">@orar[0]</a></li>

                                }
                            }
                            <li role="presentation" class="divider"></li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="menu" data-toggle="dropdown">Profesori</button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                            @{
                                var profs = ViewData["profesori"] as List<String>;
                                if (profs.Count != 1)
                                {
                                    foreach (var item in profs)
                                    {
                                        string[] row = item.Split('|');
                                        string link = "/WebParser/ParserPage?url=http://profs.info.uaic.ro/~orar/" + row[0];
                                        if (!row[1].Contains("eOra"))
                                        {
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href=@link>@row[1]</a></li>
                                        }
                                    }
                                }
                                else
                                {
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">@profs[0]</a></li>

                                }
                            }
                            <li role="presentation" class="divider"></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table><br />
    </div>
</body>