<div class="row">
    <div class="col-md-3">
        <h3> Login </h3>
        <form method="post" novalidate>
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" />
                <span class="text-muted"></span>
            </div>
            <div class="form-group">
                <label>Parola</label>
                <input type="password" class="form-control" />
                <span class="text-muted"></span>
            </div>
            <div class="form-group">
                <label>Verifica Parola</label>
                <input class="form-control" />
                <span class="text-muted"></span>
            </div>
            <div class="form-group">
                <label>Nume</label>
                <input class="form-control" />
                <span class="text-muted"></span>
            </div>
            <div class="form-group">
                <label>Prenume</label>
                <input class="form-control" />
                <span class="text-muted"></span>
            </div>
            <div class="form-group">
                <label>An</label>
                <input class="form-control" />
                <span class="text-muted"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>