@{
    ViewData["Title"] = "Adaugă anunț";
}
@model UniFIIcation.Models.Announcement
<div class="row">
    <div class="col-md-6">
        <h1>Adaugă anunț</h1>

        <form>
            <div asp-validation="ModelOnly">
                <div class="form-group">
                    <label asp-for="Title">Titlu:</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <label>Text:</label>
                    <textarea cols="40" rows="4" asp-for="TextContent" class="form-control"></textarea>
                </div>
                <div>
                    <input type="submit" class="btn btn-lg btn-primary" />
                    <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>